.settings {
    position: absolute;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 1);
    top: 16px;
    left: 16px;
    border-radius: 3px;
    border: solid 1px rgb(211, 211, 211);
    z-index: 1;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
        margin-top: 16px;
    }
}

.content-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    overflow: auto;

    .single-card {
        background: rgba(255, 255, 255, 1);
        border-radius: 2px;
        height: 100px;

        .ant-card-head {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        &:hover {
            background: rgba(233, 233, 233, 0.8);
        }
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(233, 233, 233, 0.7);
        border-radius: 8px;
        opacity: 0.1;

        &:hover {
            background: rgba(200, 200, 200, 1);
        }
    }
}
